<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <title>文章详情</title>
</head>
<body>
<!-- 头部组件 -->
<div id="header">
    <div class="box">
        <!-- logo -->
        <div class="logo">
            <img src="../asset/images/logo.png" alt="">
        </div>

        <!-- 导航 -->
        <div class="midNavList">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">学无止境</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">个人日记</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">留言板</a>
                </li>
            </ul>
        </div>

        <!-- 右侧显示登录或用户名组件 -->
        <div class="LoginIsUser">
            <!-- 登录 -->
            <div class="login">
                    <span class="layui-breadcrumb">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </span>
            </div>
        </div>
    </div>
</div>

<!-- 页面内容 -->
<div id="PageContents">
    <!--主体内容-->
    <div class="main-content">
        <!--文章详情-->
        <div class="article-content">
            <!--文章标题-->
            <h1 class="article-title">如何建立个人博客？</h1>

            <!--详情信息-->
            <div class="detail-info-box">
                <p class="edit-time">
                    编辑时间：<span>2020-01-01 10:24:00</span>
                </p>
                <p class="view-num">
                    浏览量：<span>666</span>
                </p>
                <p class="author-name">
                    作者：<span>利节</span>
                </p>
            </div>

            <!--内容-->
            <div class="content">
                想必很多人都想建立一个，属于自己的个人博客，把自己的一些学习的经验和经历，通过互联网的形式来分享给别人。通过分享
                与网友进行互动，让更多的人了解和认识你，并且树立自己在互联网上的个人品牌，其实这就是一种“自媒体”。那么我们怎么去
                建立自己的自媒体博客呢？我认为：首先得先明白建立一个博客的流程是什么？只有先了解这套流程，我们才能做出自己满意的
                个人博客。
            </div>

            <!--分页-->
            <div class="page-wrap-box">
                <p>
                    <a href="javascript:;">上一篇：常见的个人博客系统</a>
                </p>
                <p>
                    <a href="javascript:;">下一篇：手机网站开发</a>
                </p>
            </div>
        </div>

        <!--页面侧面-->
        <div class="main-content-side">
            <!-- 侧面头部标题 -->
            <div class="sideTitle">
                <!-- 标题 -->
                <h2 class="tit">关注博客</h2>
            </div>

            <!--侧面搜索框-->
            <div class="search-wrap">
                <div class="input-box">
                    <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    <i class="layui-icon layui-icon-search"></i>
                </div>
            </div>

            <!--侧面导航-->
            <div class="side-nav">
                <div class="nav-item">
                    <a href="javascript:;">SEO优化</a>
                </div>
                <div class="nav-item">
                    <a href="javascript:;">个人日记</a>
                </div>
                <div class="nav-item">
                    <a href="javascript:;">关于我</a>
                </div>
                <div class="nav-item">
                    <a href="javascript:;">留言板</a>
                </div>
            </div>

            <!--点击排行-->
            <div class="click-recommend-wrap">
                <h3 class="click-title">点击排行</h3>
                <!--排行列表-->
                <div class="recommend-list">
                    <div class="recommend-item">
                        <p>
                            <span class="layui-badge">01</span>
                            <a href="javascript:;">如何建立个人博客如何建立个人博客如何建立个人博客如何建立个人博客</a>
                        </p>
                    </div>
                    <div class="recommend-item">
                        <p>
                            <span class="layui-badge layui-bg-blue">02</span>
                            <a href="javascript:;">如何建立个人博客</a>
                        </p>
                    </div>
                    <div class="recommend-item">
                        <p>
                            <span class="layui-badge layui-bg-orange">03</span>
                            <a href="javascript:;">如何建立个人博客</a>
                        </p>
                    </div>
                    <div class="recommend-item">
                        <p>
                            <span class="layui-badge layui-bg-gray">04</span>
                            <a href="javascript:;">如何建立个人博客</a>
                        </p>
                    </div>
                </div>
            </div>

            <!--最新评论-->
            <div class="news-guest-book">
                <h3 class="news-title">最新留言</h3>

                <!--留言列表-->
                <div class="guest-book-list">
                    <div class="guest-book-item">
                        <!--用户头像-->
                        <div class="user-photo">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg" alt="">
                        </div>

                        <!--留言-->
                        <div class="comments-text-box">
                            <!--用户名-->
                            <h4 class="user-name">小明</h4>

                            <!--留言内容-->
                            <div class="comments-text">
                                <a href="javascript:;">
                                    这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                </a>
                            </div>

                            <!--留言时间-->
                            <div class="comments-time">
                                <i class="layui-icon layui-icon-time"></i>
                                <span>2020年01月01日</span>
                            </div>
                        </div>
                    </div>
                    <div class="guest-book-item">
                        <!--用户头像-->
                        <div class="user-photo">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg" alt="">
                        </div>

                        <!--留言-->
                        <div class="comments-text-box">
                            <!--用户名-->
                            <h4 class="user-name">小明</h4>

                            <!--留言内容-->
                            <div class="comments-text">
                                <a href="javascript:;">
                                    这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                </a>
                            </div>

                            <!--留言时间-->
                            <div class="comments-time">
                                <i class="layui-icon layui-icon-time"></i>
                                <span>2020年01月01日</span>
                            </div>
                        </div>
                    </div>
                    <div class="guest-book-item">
                        <!--用户头像-->
                        <div class="user-photo">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg" alt="">
                        </div>

                        <!--留言-->
                        <div class="comments-text-box">
                            <!--用户名-->
                            <h4 class="user-name">小明</h4>

                            <!--留言内容-->
                            <div class="comments-text">
                                <a href="javascript:;">
                                    这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                </a>
                            </div>

                            <!--留言时间-->
                            <div class="comments-time">
                                <i class="layui-icon layui-icon-time"></i>
                                <span>2020年01月01日</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页面底部 -->
<div id="footer">
    <span class="design">Design by：利节</span>
    <span class="icp">备案号：湘ICP备14011335号-2</span>
</div>
</body>
</html>