<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <title>留言板</title>
</head>

<body>
<!-- 头部组件 -->
<div id="header">
    <div class="box">
        <!-- logo -->
        <div class="logo">
            <img src="../asset/images/logo.png" alt="">
        </div>

        <!-- 导航 -->
        <div class="midNavList">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">学无止境</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">个人日记</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">留言板</a>
                </li>
            </ul>
        </div>

        <!-- 右侧显示登录或用户名组件 -->
        <div class="LoginIsUser">
            <!-- 登录 -->
            <div class="login">
                    <span class="layui-breadcrumb">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </span>
            </div>
        </div>
    </div>
</div>

<!--页面内容-->
<div id="PageContents">
    <!--导航-->
    <div class="navBox">
        <!--面包屑导航-->
        <div class="breadcrumb">
            <span class="layui-breadcrumb">
              <a href="javascript:;">首页</a>
              <a><cite>留言板</cite></a>
            </span>
        </div>
    </div>

    <!--主要内容-->
    <div class="main-content">
        <!--评论框-->
        <div class="commentBox">
            <!--当前用户头像-->
            <div class="userPhoto">
                <img src="../asset/images/defaultPhoto.jpg" alt="">
            </div>

            <!--输入框-->
            <div class="comment-wrap-box">
                <div class="comment-input">
                    <!--输入框-->
                    <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                    <!--按钮-->
                    <div class="comments-textarea-info">
                        <div class="expression-box emojiBtn">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <span>表情</span>
                        </div>
                        <div class="btn-box">
                            <!--<button class="login-btn">点击登录</button>-->
                            <button class="layui-btn layui-btn-normal gray send" disabled>发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--评论列表-->
        <div class="comments-list-box">
            <!--选择评论类型-->
            <div class="select-comments-type">
                <div class="left">
                    <span class="num">100</span>条评论
                </div>
                <div class="right">
                    <button class="layui-btn layui-btn-sm layui-btn-danger">最热评论</button>
                    <button class="layui-btn layui-btn-sm layui-btn-warm">最新评论</button>
                </div>
            </div>

            <div class="child-comments">
                <!--评论列表-->
                <ul class="comments-list">
                    <!--评论项-->
                    <li class="comments-item">
                        <!--评论-->
                        <div class="comments-text-wrap">
                            <!--用户头像-->
                            <div class="user-img">
                                <img src="../asset/images/defaultPhoto.jpg">
                            </div>

                            <!--评论详情-->
                            <div class="comments-text-box">
                                <!--作者名称-->
                                <h3 class="comments-author">小明博客</h3>

                                <!--评论内容-->
                                <div class="text">
                                    有需要做网站的朋友<img src="../asset/images/defaultPhoto.jpg">可以找我
                                </div>

                                <!--时间-->
                                <div class="info">
                                    <span class="me">2020年9月16日</span>
                                    <a href="javascript:;">回复</a>
                                    <i class="layui-icon layui-icon-praise"></i>
                                    <span class="like-num">123</span>
                                </div>

                                <!--评论框-->
                                <div class="comment-wrap-box">
                                    <!--输入框-->
                                    <div class="comment-input">
                                        <!--输入框-->
                                        <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                                        <!--按钮-->
                                        <div class="comments-textarea-info">
                                            <div class="expression-box emojiBtn">
                                                <i class="layui-icon layui-icon-face-smile"></i>
                                                <span>表情</span>
                                            </div>
                                            <div class="btn-box">
                                                <!--<button class="login-btn">点击登录</button>-->
                                                <button class="layui-btn layui-btn-normal gray send" disabled>发布
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--子评论-->
                        <ul class="cildren">
                            <li class="comments-item">
                                <!--评论-->
                                <div class="comments-text-wrap">
                                    <!--用户头像-->
                                    <div class="user-img">
                                        <img src="../asset/images/defaultPhoto.jpg">
                                    </div>

                                    <!--评论详情-->
                                    <div class="comments-text-box">
                                        <!--作者名称-->
                                        <h3 class="comments-author">小明博客</h3>

                                        <!--评论内容-->
                                        <div class="text">
                                            有需要做网站的朋友<img src="../asset/images/defaultPhoto.jpg">可以找我
                                        </div>

                                        <!--时间-->
                                        <div class="info">
                                            <span class="me">2020年9月16日</span>
                                            <a href="javascript:;">回复</a>
                                            <i class="layui-icon layui-icon-praise"></i>
                                            <span class="like-num">123</span>
                                        </div>

                                        <!--评论框-->
                                        <div class="comment-wrap-box">
                                            <!--输入框-->
                                            <div class="comment-input">
                                                <!--输入框-->
                                                <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                                                <!--按钮-->
                                                <div class="comments-textarea-info">
                                                    <div class="expression-box emojiBtn">
                                                        <i class="layui-icon layui-icon-face-smile"></i>
                                                        <span>表情</span>
                                                    </div>
                                                    <div class="btn-box">
                                                        <!--<button class="login-btn">点击登录</button>-->
                                                        <button class="layui-btn layui-btn-normal gray send" disabled>
                                                            发布
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--子评论-->
                                <!--<ui class="cildren">...</ui>-->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--分页-->
            <div class="paging">
                <div id="paging"></div>
            </div>
        </div>

        <!--页面侧面-->
        <div class="right-nav">
            <div class="main-content-side">
                <!--侧面搜索框-->
                <div class="search-wrap">
                    <div class="input-box">
                        <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        <i class="layui-icon layui-icon-search"></i>
                    </div>
                </div>

                <!--侧面导航-->
                <div class="side-nav">
                    <div class="nav-item">
                        <a href="javascript:;">SEO优化</a>
                    </div>
                    <div class="nav-item">
                        <a href="javascript:;">个人日记</a>
                    </div>
                    <div class="nav-item">
                        <a href="javascript:;">关于我</a>
                    </div>
                    <div class="nav-item">
                        <a href="javascript:;">留言板</a>
                    </div>
                </div>

                <!--点击排行-->
                <div class="click-recommend-wrap">
                    <h3 class="click-title">点击排行</h3>
                    <!--排行列表-->
                    <div class="recommend-list">
                        <div class="recommend-item">
                            <p>
                                <span class="layui-badge">01</span>
                                <a href="javascript:;">如何建立个人博客如何建立个人博客如何建立个人博客如何建立个人博客</a>
                            </p>
                        </div>
                        <div class="recommend-item">
                            <p>
                                <span class="layui-badge layui-bg-blue">02</span>
                                <a href="javascript:;">如何建立个人博客</a>
                            </p>
                        </div>
                        <div class="recommend-item">
                            <p>
                                <span class="layui-badge layui-bg-orange">03</span>
                                <a href="javascript:;">如何建立个人博客</a>
                            </p>
                        </div>
                        <div class="recommend-item">
                            <p>
                                <span class="layui-badge layui-bg-gray">04</span>
                                <a href="javascript:;">如何建立个人博客</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!--最新评论-->
                <div class="news-guest-book">
                    <h3 class="news-title">最新留言</h3>

                    <!--留言列表-->
                    <div class="guest-book-list">
                        <div class="guest-book-item">
                            <!--用户头像-->
                            <div class="user-photo">
                                <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg"
                                     alt="">
                            </div>

                            <!--留言-->
                            <div class="comments-text-box">
                                <!--用户名-->
                                <h4 class="user-name">小明</h4>

                                <!--留言内容-->
                                <div class="comments-text">
                                    <a href="javascript:;">
                                        这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                    </a>
                                </div>

                                <!--留言时间-->
                                <div class="comments-time">
                                    <i class="layui-icon layui-icon-time"></i>
                                    <span>2020年01月01日</span>
                                </div>
                            </div>
                        </div>
                        <div class="guest-book-item">
                            <!--用户头像-->
                            <div class="user-photo">
                                <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg"
                                     alt="">
                            </div>

                            <!--留言-->
                            <div class="comments-text-box">
                                <!--用户名-->
                                <h4 class="user-name">小明</h4>

                                <!--留言内容-->
                                <div class="comments-text">
                                    <a href="javascript:;">
                                        这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                    </a>
                                </div>

                                <!--留言时间-->
                                <div class="comments-time">
                                    <i class="layui-icon layui-icon-time"></i>
                                    <span>2020年01月01日</span>
                                </div>
                            </div>
                        </div>
                        <div class="guest-book-item">
                            <!--用户头像-->
                            <div class="user-photo">
                                <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1224632201,1347234349&fm=26&gp=0.jpg"
                                     alt="">
                            </div>

                            <!--留言-->
                            <div class="comments-text-box">
                                <!--用户名-->
                                <h4 class="user-name">小明</h4>

                                <!--留言内容-->
                                <div class="comments-text">
                                    <a href="javascript:;">
                                        这博客挺好的呀，站长怎么不加我好友呢 这博客挺好的呀，站长怎么不加我好友呢站长怎么不加我好友呢
                                    </a>
                                </div>

                                <!--留言时间-->
                                <div class="comments-time">
                                    <i class="layui-icon layui-icon-time"></i>
                                    <span>2020年01月01日</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页面底部 -->
<div id="footer">
    <span class="design">Design by：利节</span>
    <span class="icp">备案号：湘ICP备14011335号-2</span>
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="/emoji_jQuery/dist/emoji_jQuery.min.js"></script>
<script>
    var page = {
        Lemoji: $.Lemoji,
        emojiParse: $.emojiParse,
    }
</script>
</html>
