<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <title>留言板</title>
</head>

<body>
<!-- 头部组件 -->
<div id="header">
    <div class="box">
        <!-- logo -->
        <div class="logo">
            <img src="../asset/images/logo.png" alt="">
        </div>

        <!-- 导航 -->
        <div class="midNavList">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">学无止境</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">个人日记</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">留言板</a>
                </li>
            </ul>
        </div>

        <!-- 右侧显示登录或用户名组件 -->
        <div class="LoginIsUser">
            <!-- 登录 -->
            <div class="login">
                    <span class="layui-breadcrumb">
                        <a href="javascript:;">登录</a>
                        <a href="javascript:;">注册</a>
                    </span>
            </div>
        </div>
    </div>
</div>

<!--页面内容-->
<div id="PageContents">
    <!--导航-->
    <div class="navBox">
        <!--面包屑导航-->
        <div class="breadcrumb">
            <span class="layui-breadcrumb">
              <a href="javascript:;">首页</a>
              <a><cite>留言板</cite></a>
            </span>
        </div>
    </div>

    <!--主要内容-->
    <div class="main-content">
        <!--评论框-->
        <div class="commentBox">
            <!--当前用户头像-->
            <div class="userPhoto">
                <img src="../asset/images/defaultPhoto.jpg" alt="">
            </div>

            <!--输入框-->
            <div class="comment-input">
                <!--输入框-->
                <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                <!--按钮-->
                <div class="comments-textarea-info">
                    <div class="expression-box emojiBtn">
                        <i class="layui-icon layui-icon-face-smile"></i>
                        <span>表情</span>
                    </div>
                    <div class="btn-box">
                        <!--<button class="login-btn">点击登录</button>-->
                        <button class="layui-btn layui-btn-normal gray send" disabled>发布</button>
                    </div>
                </div>
            </div>
        </div>

        <!--评论列表-->
        <div class="comments-list-box">
            <!--选择评论类型-->
            <div class="select-comments-type">
                <button class="layui-btn layui-btn-sm layui-btn-danger">最热评论</button>
                <button class="layui-btn layui-btn-sm layui-btn-warm">最新评论</button>
            </div>

            <div class="child-comments">
                <!--评论列表-->
                <ul class="comments-list">
                    <!--评论-->
                    <li class="comments-text-wrap">
                        <!--用户头像-->
                        <div class="user-photo">
                            <img src="../asset/images/defaultPhoto.jpg" alt="">
                        </div>

                        <!--评论内容-->
                        <div class="comments-text">
                            <!--作者-->
                            <div class="comments-author">
                                小明<span class="color-red">回复</span>小明
                            </div>
                            <!--内容-->
                            <div class="text">
                                不符合的站点，不会通过哦！
                                不符合的站点，不会通过哦！
                                不符合的站点，不会通过哦！
                                <img src="../asset/images/defaultPhoto.jpg" alt="">
                            </div>
                            <!--评论时间-->
                            <div class="comments-info">
                                <p class="time">
                                    <i class="layui-icon layui-icon-time"></i>
                                    <span>2020年8月3日</span>
                                </p>
                                <p class="praise">
                                    <i class="layui-icon layui-icon-praise"></i>
                                    <span>0</span>
                                </p>
                                <p class="reply-btn" data-userId="1">
                                    <i class="layui-icon layui-icon-reply-fill"></i>
                                    <span>回复</span>
                                </p>
                            </div>

                            <!--回复框-->
                            <div class="reply-box">
                                <div class="commentBox">
                                    <!--输入框-->
                                    <div class="comment-input">
                                        <!--输入框-->
                                        <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                                        <!--按钮-->
                                        <div class="comments-textarea-info">
                                            <div class="expression-box emojiBtn">
                                                <i class="layui-icon layui-icon-face-smile"></i>
                                                <span>表情</span>
                                            </div>
                                            <div class="btn-box">
                                                <!--<button class="login-btn">点击登录</button>-->
                                                <button class="layui-btn layui-btn-normal gray send" disabled>发布</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--子集评论-->
                            <div class="child-comments">
                                <!--<ul class="comments-list">
                                    &lt;!&ndash;评论&ndash;&gt;
                                    <li class="comments-text-wrap">
                                        &lt;!&ndash;用户头像&ndash;&gt;
                                        <div class="user-photo">
                                            <img src="../asset/images/defaultPhoto.jpg" alt="">
                                        </div>

                                        &lt;!&ndash;评论内容&ndash;&gt;
                                        <div class="comments-text">
                                            &lt;!&ndash;作者&ndash;&gt;
                                            <div class="comments-author">
                                                小明<span class="color-red">回复</span>小明
                                            </div>
                                            &lt;!&ndash;内容&ndash;&gt;
                                            <div class="text">
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                不符合的站点，不会通过哦！
                                                <img src="../asset/images/defaultPhoto.jpg" alt="">
                                            </div>
                                            &lt;!&ndash;评论时间&ndash;&gt;
                                            <div class="comments-info">
                                                <p class="time">
                                                    <i class="layui-icon layui-icon-time"></i>
                                                    <span>2020年8月3日</span>
                                                </p>
                                                <p class="praise">
                                                    <i class="layui-icon layui-icon-praise"></i>
                                                    <span>0</span>
                                                </p>
                                                <p class="reply-btn" data-userId="2">
                                                    <i class="layui-icon layui-icon-reply-fill"></i>
                                                    <span>回复</span>
                                                </p>
                                            </div>

                                            &lt;!&ndash;回复框&ndash;&gt;
                                            <div class="reply-box">
                                                <div class="commentBox">
                                                    &lt;!&ndash;输入框&ndash;&gt;
                                                    <div class="comment-input">
                                                        &lt;!&ndash;输入框&ndash;&gt;
                                                        <div class="textarea" contenteditable placeholder="拖拽一个表情过来试试"></div>

                                                        &lt;!&ndash;按钮&ndash;&gt;
                                                        <div class="comments-textarea-info">
                                                            <div class="expression-box emojiBtn">
                                                                <i class="layui-icon layui-icon-face-smile"></i>
                                                                <span>表情</span>
                                                            </div>
                                                            <div class="btn-box">
                                                                &lt;!&ndash;<button class="login-btn">点击登录</button>&ndash;&gt;
                                                                <button class="layui-btn layui-btn-normal gray send" disabled>发布</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            &lt;!&ndash;子集评论&ndash;&gt;
                                            <div class="child-comments"></div>
                                        </div>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--分页-->
            <div class="paging">
                <div id="paging"></div>
            </div>
        </div>
    </div>
</div>

<!-- 页面底部 -->
<div id="footer">
    <span class="design">Design by：利节</span>
    <span class="icp">备案号：湘ICP备14011335号-2</span>
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="/emoji_jQuery/dist/emoji_jQuery.min.js"></script>
<script>
    var page = {
        Lemoji: $.Lemoji,
        emojiParse: $.emojiParse,
    }
</script>
</html>
