@import "./commont.scss";
@import "./articleList.scss";
@import "./mainContentSide.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./commentInput.scss";//评论输入框
@import "./commentsList.scss";//评论列表
@import "./mainContentSide.scss";//右侧导航

.emoji_container {
  left: 100px !important;
}

//面包屑导航
.navBox {
  width: 1200px;
  margin: auto;
}

.main-content {
  position: relative;
  margin-top: 20px !important;
  box-sizing: border-box;

  /*评论框*/
  .commentBox {
    width: 870px;
    display: flex;
    padding: 10px;
    background-color: #fff;

    //用户头像
    .userPhoto {
      width: 50px;
      margin-right: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }
    }

    .comment-wrap-box {
      width: 90%;
    }
  }

  //评论列表
  .comments-list-box {
    width: 870px;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    /*选择评论类型*/
    .select-comments-type {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, .04);
        border: 1px solid #ccc;
        padding: 0 5px 0 5px;
        border-radius: 5px;

        .num {
          color: red;
          margin-right: 5px;
        }
      }
    }

    //分页
    .paging {
      margin-top: 10px;
      text-align: left;
    }
  }

  /*右侧导航*/
  .right-nav{
    position: absolute;
    top:0;
    right: 0;

    .main-content-side{
      .search-wrap{
        margin: 0;
      }
    }
  }
}